<div class="row align-items-start">
  <div class="col-6">
    <%= image_tag "https://via.placeholder.com/150", alt: "季節湯のイメージ画像", class: "img-fluid" %>
  </div>
  <div class="col-6">
    <h4>概要</h4>
    <p>今月はミカン湯です</p>
  </div>
</div>