<div class="row align-items-start d-none js-event-body">

  <div class="col-6">
    <img class="img-fluid js-modal-thumbnail d-none" />
  </div>

  <div class="col-6">
    <h4>概要</h4>
    <p class="js-modal-description"></p>
  </div>
</div>