<div class="row align-items-start">
  <div class="col-6">
    <%= image_tag "https://placehold.jp/150x150.png", alt: "行事のイメージ画像", class: "img-fluid" %>
  </div>
  <div class="col-6">
    <h4>概要</h4>
    <p>子どもの健やかな成長を祝う行事です</p>
  </div>

  <div class="col-6">
    <%= image_tag "https://placehold.jp/150x150.png", alt: "行事食のイメージ画像", class: "img-fluid" %>
  </div>
  <div class="col-6">
    <h4>行事食</h4>
    <ul>
      <li>千歳飴</li>
    </ul>
  </div>

  <div class="col-6">
    <%= image_tag "https://placehold.jp/150x150.png", alt: "おすすめスポットのイメージ画像", class: "img-fluid" %>
  </div>
  <div class="col-6">
  <h4>おすすめスポット</h4>
  <p>氏神様</p>
  </div>
</div>