<p>今月の季節湯</p>

<ul class="list-unstyled mt-2 js-monthly-baths">
  <!-- JSでここに <li>松湯</li> などが入る -->
</ul>

<%= link_to "今日の行事", "#eventModal", 
  data: { bs_toggle: "modal", bs_target: "#eventModal" }  %>